{% extends "django_tutorial/base.html" %}
{% load i18n %}

{% block content %}
    <h1>Welcome to Django tutorial</h1>
    Note: the apps have namespaces, the project it selve not, the link to this page is just included to show the namespaces (very useless link to the same page now).<br>
    <br>
    <ul>
        <li><a href="{% url 'iamreusable:index' %}">Link to the index page of the reusable app</a><br></li>
        <li><a href="{% url 'exampmod:index' %}">Link to the index page of the embedded app</a><br></li>
        <li><a href="{% url 'index' %}">Link to the index page of the project (this page, so a rather useless link)</a><br></li>
    </ul>
    <br>

{% endblock %}
