{% extends "example_module/base.html" %}
{% load i18n %}
{% block content %}
<h1>An embedded app</h1>
In the apps folder you can nicely order all your seperate modules in logically named apps.<br>
<ul>
<li><a href="{% url 'index' %}">Link to index of the project</a></li>
<li><a href="{% url 'iamreusable:index' %}">Link to reusable app</a></li>
</ul>

<br>
<br>
<br>
<br>
{% endblock %}
